.limit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid color(secondary);
  border-radius: 50%;
  color: color(secondary);
  font-size: 13px;
  font-weight: 300;
}
