.product-info {
  color: #fff;
  padding-right: 50px;
}

.product-info__heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  text-transform: none;

  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 80%;
    margin-top: 15px;
    background-color: #cd8638;
  }
}

.product-info__text {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 18px;

  @include first-last;
}

.product-info__specification {
  margin-bottom: 40px;
}

.product-info__link {
  margin-bottom: 50px;
}

.product-info__button {
  width: 100%;
}

@include respond-to(small-lg) {

  .product-info__button-wrap {
    text-align: center;
  }

  .product-info__button {
    width: auto;
    min-width: 220px;
  }
}

@include respond-to(medium) {
  .product-info__heading {
    font-size: 22px;
  }
}

@include respond-to(large) {
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-info__heading {
    margin-bottom: 30px;
    padding-right: 20px;
    font-size: 24px;
    text-align: left;
  }

  .product-info__button-wrap {
    margin-top: auto;
    padding-bottom: 4px;
    text-align: left;
  }
}

@media (max-width: 1219.98px) {
  .product-info {
    padding-right: 0;

    &__heading {

      &::after {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}