button {
  display: inline-block;
  padding: 4px;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  transition: duration(md) func(primary);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  outline: none;
}
